.section-title {
  padding-bottom: 30px;
  .sub-title {
    color: rgba($color-gray, 1);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 14px;
  }
  .min-title {
    font-size: 30px;
    font-weight: 900;
  }
}
